<div class="login">
    <div class="modal-header">
        <h3>Авторизация</h3>
    </div>
    <form id="" ng-controller="DummyCtrl" name="" autocomplete="on" class="" action="/auth/login/" method="POST" enctype="">
        <input type='hidden' name='_csrf' value='<%= csrfToken%>' />
        <div class="modal-body clearfix">
            <% var nameErrors = [] %>
            <% if (errors.length) { %>
                <% for (var i in errors) { %>
                    <% nameErrors.push(errors[i].message)%>
                <% } %>
            <% } %>
            <% if (nameErrors.indexOf("sessionExpired") != -1) { %>
                <span class="help-block alert alert-warning"><p>Сессия истекла</p></span>
            <% } %>
            <% if (nameErrors.indexOf("password_change") != -1) { %>
                <span class="help-block alert alert-success"><p>Пароль изменен. Повторите вход, чтобы продолжить.</p></span>
            <% } %>
            <% if (nameErrors.indexOf("user_not_found") != -1 || nameErrors.indexOf("invalid") != -1) { %>
                <div class="alert alert-message alert-danger">
                    <ul class="errorlist"><li>Неправильное имя пользователя или пароль.</li></ul>
                </div>
            <% } %>
            <div class="form-group ">
                <label class="control-label" for="id_username">Email</label>
                <div class=" ">
                    <input autofocus="autofocus" class="form-control" id="id_email" name="email" type="text" />
                </div>
            </div>
            <% if (nameErrors.indexOf("email") != -1) { %>
                <span class="help-block alert alert-danger ">Это поле является обязательным.</span>
            <% } %>
            <div class="form-group has-feedback">
                <label class="control-label" for="id_password">Пароль</label>
                <div class=" ">
                    <input class="form-control" id="id_password" name="password" type="password" />
                    <span class="form-control-feedback fa fa-eye"></span>
                </div>
            </div>
            <% if (nameErrors.indexOf("password") != -1) { %>
                <span class="help-block alert alert-danger ">Это поле является обязательным.</span>
            <% } %>
        </div>
        <div class="modal-footer">
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    <span class="lbl padding-0">
                        запомнить меня
                    </span>
                </label>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Войти в систему</button>
            <div class="actions">
                <a href="/sign_up/">
                    Регистрация
                </a>
                <a href="/password/request/">
                    Восстановить пароль
                </a>
                <a href="/confirmation/">
                    Подтверждение не получено?
                </a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $(".form-control-feedback").css('cursor', 'default');

        $(".form-control-feedback").click(function() {

            if ($(this).hasClass('fa-eye')) {
                $(this).siblings().attr('type', 'text')
            } else {
                $(this).siblings().attr('type', 'password')
            }

            $(this).toggleClass('fa-eye fa-eye-slash');
        });
    })
</script>
