<!-- Form to delete the avatar of an application -->
<div id="delete_avatar" class="modal fade" style="top: 0px; display: none;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Удалить загруженное изображение</h3>
            </div>
            <form id="delete_avatar_form" ng-controller="DummyCtrl" name="" autocomplete="" class="" action="/idm/users/<%= user.id %>/edit/avatar/delete?_method=delete" method="POST" enctype="">
                <input type='hidden' name='_csrf' value='<%= csrfToken%>' />
                <div class="modal-body clearfix">
                    <div class="left">
                        <fieldset>
                        </fieldset>
                    </div>
                    <div class="right">
                        <p>Вы уверены, что хотите удалить данное изображение?</p>
                        <p>Вы можете загрузить его снова, когда захотите.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Подтвердить</button>
                    <a class="btn btn-default secondary cancel" data-dismiss="modal">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
